<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
    bootstrap="vendor/autoload.php"
    colors="true"
    failOnWarning="true"
    failOnRisky="true"
    beStrictAboutOutputDuringTests="true"
    cacheDirectory=".phpunit.cache"
>
    <testsuites>
        <testsuite name="Business Central SDK Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>src</directory>
        </include>
    </source>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="BUSINESS_CENTRAL_CLIENT_ID" value="test-client-id"/>
        <env name="BUSINESS_CENTRAL_CLIENT_SECRET" value="test-client-secret"/>
        <env name="BUSINESS_CENTRAL_TENANT" value="test-tenant"/>
        <env name="BUSINESS_CENTRAL_ENVIRONMENT" value="test"/>
        <env name="BUSINESS_CENTRAL_COMPANY" value="test-company"/>
    </php>
</phpunit>
